35 * * * * /home/ubuntu/bin/BBD-alert-kiosk-status.pl # Check for off-line kiosks
40 7 * * * /home/ubuntu/bin/BBD-clean_sessions.pl     # Clean out expired sessions
45 7 * * * /home/ubuntu/bin/BBD-membership-update.pl  # Update membership status to ASK_RENEWAL and EXPIRED
50 7 * * * /home/ubuntu/bin/site-backup               # Backup web pages, CGIs and bbd_members DB
