Greetings <!-- TMPL_VAR NAME=MEMBER_NAME -->,

This email will guide you through the setup and use of our 24/7 automated fuel dispensing kiosk, affectionately known as the BBD9000.

If you don't like long emails, you can skip the rest and follow this link:
<<!-- TMPL_VAR NAME=RESET_URL -->>
Note that this link can only be used once, and will expire in <!-- TMPL_VAR NAME=LIFETIME --> days.

Or, read on for some more detail about using the BBD9000.

In order to use the automated kiosk, every member needs to select a Secret Pump Number (SPN) that will be entered on the kiosk's keypad after swiping their credit card.  The SPN is any number you chose between 4 and 20 digits.

Additionally, we need to make sure that we have your first and last name as it appears on your credit card(s).  The name read off of your credit card's magnetic strip and the SPN you type in at the keypad (followed by '#') is used to identify you as a member and lets you use our automated fuel dispensing kiosk.

Since many people use a mix of names on their credit cards with or without initials, prefixes, etc, these are all ignored.  We only need the first and last name, which should not have any spaces, punctuation, prefixes or suffixes.  We do not need any other credit card information, and we never store any credit card numbers! This lets you use any credit card as long as the first and last names on the card match what we have in your account information.

The last piece of information we need is a valid email address. The kiosk does not print receipts for purchases, and receipts can only be sent to an email address. If your email address changes, please update your contact information to continue to receive receipts for purchases.

Using the kiosk entails swiping a credit card, entering your SPN, and waiting to be authorized by the server.  The door unlatches automatically if you are authorized.  It will probably need a little push to disengage the lock before pulling it open. There is no buzzing sound - just open the door if you are successfully authorized. Once the door is opened, pull the dispensing nozzle out, and flip the pump switch forward with the nozzle or by hand.  You will hear the pump come on, and you are ready to fill up. After filling up, note your dollar and fuel total on the display. When you replace the nozzle and shut off the pump, your credit card will be charged.  Put away the hose, and close the door (make sure its locked!).  A detailed receipt will arrive by email.

To establish and maintain your contact information, we have set up web pages for individual coop members.  Members log into their page using a login and password just like any other "members only" web site. These web pages have other functions, like keeping track of your fuel usage, membership status, adding/modifying/deleting family members, etc.

Since this is your very first login, you need to establish the login and password you will use from now on.  Clicking on the link below will take you to a page that lets you establish your login information. Your email address is used as your login, but this is only a suggestion - you can use any login you like as long as its unique. 
<<!-- TMPL_VAR NAME=RESET_URL -->>
Note that this link can only be used once, and will expire in <!-- TMPL_VAR NAME=LIFETIME --> days.

After setting up your login and password, you will be taken to your member page where you should enter a new SPN, make sure we have your correct first and last name on your credit cards, and your preferred email address for receiving receipts.

After setting up your login information, you can access your member page with this link:
<<!-- TMPL_VAR NAME=MEMBER_URL -->>

Since a correct and functional email address is very important, we will send a confirmation email to any new email address that you enter. The email address won't change until you click on the link in the confirmation email.

Finally, please note that if you have not paid your membership dues, the kiosk will ask you to renew them for $<!-- TMPL_VAR NAME=RENEWAL_FEE -->, which will be added to your total.  You can accept this charge and renew your membership by pressing '#' on the keypad, or decline by pressing '*'.

Thank you for being a member!
- The <!-- TMPL_VAR ESCAPE=HTML NAME=COOP_NAME -->.

