Greetings <!-- TMPL_VAR NAME=MEMBER_NAME -->,

You have requested to reset your login and/or password for your BBDC member page.

Click on the link below and enter your new login and password on the form.
<<!-- TMPL_VAR NAME=RESET_URL -->>
Note that this link can only be used once, and will expire in <!-- TMPL_VAR NAME=LIFETIME --> days.

To access your regular member page, use this link:
<<!-- TMPL_VAR NAME=MEMBER_URL -->>

Thank you!
<!-- TMPL_VAR ESCAPE=HTML NAME=COOP_NAME -->

