Greetings <!-- TMPL_VAR NAME=MEMBER_NAME -->,

You have requested to change your email address.

Click on the link below to confirm the email address change.
<<!-- TMPL_VAR NAME=RESET_URL -->>
Note that this link can only be used once, and will expire in <!-- TMPL_VAR NAME=LIFETIME --> days.

To access your regular member page, use this link:
<<!-- TMPL_VAR NAME=MEMBER_URL -->>

Thank you!
Baltimore Biodiesel Coop

