<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<!-- Prevent script from dying if we don't use COOP_DOMAIN:
	<TMPL_VAR ESCAPE=HTML NAME=COOP_DOMAIN>
-->
<head>
	<title><!-- TMPL_VAR ESCAPE=HTML NAME=COOP_NAME --> - Login Reset</title>
	<link href="/CSS/bbd.css" rel="stylesheet" type="text/css">
</head>
<!-- body needs onkeypress="rng_seed_time();" onload="rng_seed_time();check_rsa();" onclick="rng_seed_time();" for RSA -->
<body  onkeypress="rng_seed_time();" onload="rng_seed_time();check_rsa();" onclick="rng_seed_time();">
<script language="JavaScript" type="text/javascript" src="/JavaScript/RSA/jsbn.js"></script>
<script language="JavaScript" type="text/javascript" src="/JavaScript/RSA/prng4.js"></script>
<script language="JavaScript" type="text/javascript" src="/JavaScript/RSA/rng.js"></script>
<script language="JavaScript" type="text/javascript" src="/JavaScript/RSA/rsa.js"></script>
<script language="JavaScript" type="text/javascript" src="/JavaScript/RSA/base64.js"></script>
<script language="JavaScript"> <!--
	function do_encrypt() {
		var password1 = document.primary.password1.value;
		var password2 = document.primary.password2.value;
		if (password1.length > 0 || password2.length > 0) {
		//	var epoch_secs = Math.round (new Date().getTime()/1000);
			var epoch_secs = document.primary.server_time.value;
			var rsa = new RSAKey();
			rsa.setPublic(document.primary.modulus.value, document.primary.exponent.value);
			var res1 = rsa.encrypt('['+epoch_secs+']'+password1);
			var res2 = rsa.encrypt('['+epoch_secs+']'+password2);
			if(res1 && res2) {
				document.primary.password1.value = '';
				document.primary.password2.value = '';
				document.primary.crypt_password1.value = linebrk(hex2b64(res1), 64);
				document.primary.crypt_password2.value = linebrk(hex2b64(res2), 64);
			}
		}
	}
	
	function check_rsa () {
		var rsa = new RSAKey();
		rsa.setPublic('94e94b2912d8d508ce8c0e91d62271a9', '10001');
		var res = rsa.encrypt('abc');
		if(res && document.primary.modulus.value) {
			document.getElementById ("passMsg").innerHTML = 'Passwords are RSA-encrypted';
		}
	}
//--></script>

<!-- END of RSA scripts -->

<div id="wrapper">
<div class="box">
</div>

<div id="full_width">

<center>
<!-- form needs onsubmit="do_encrypt();return true;" name="primary" for RSA -->
<form action="BBD-login-reset.pl" method="post" onsubmit="do_encrypt();return true;" name="primary">
<input type="hidden" name="CGISESSID" value="<TMPL_VAR ESCAPE=HTML NAME=CGISESSID>" >
<!-- These hidden elements are needed for RSA -->
<input type="hidden" name="modulus" value="<TMPL_VAR ESCAPE=HTML NAME=modulus>" >
<input type="hidden" name="exponent" value="10001" >
<input type="hidden" name="crypt_password1" value="" >
<input type="hidden" name="crypt_password2" value="" >
<input type="hidden" name="server_time" value="<TMPL_VAR NAME=server_time>" >
<!-- END RSA hidden elements -->

<h3><TMPL_VAR ESCAPE=HTML NAME=memb_name><br>
Please choose your new Login and Password
</h3>
<TMPL_IF NAME=ERROR>
	<div id="error">
	<TMPL_VAR ESCAPE=HTML NAME=ERROR>
	</div>
</TMPL_IF>
<table border="0">
<tr>
	<td align="right">Login:</td>
	<td align="left"><input name="login" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=LOGIN>" size="40" maxlength="40"></td>
</tr>
<tr>
	<td align="right">Password:</td>
	<td align="left"><input name="password1" type="password" size="40" maxlength="40"></td>
</tr>
<tr>
	<td align="right">Confirm Password:</td>
	<td align="left"><input name="password2" type="password" size="40" maxlength="40"></td>
</tr>
</table>
<br>
<!-- This text warns that passwords are plaintext until the RSA check passes on the browser -->
<span class="message_quiet" id="passMsg">Passwords are sent as clear text!</span><br>

<input name="submit" type="submit" value="Save">

</form>
</center>
</div>
</div>
</body>
</html>
