<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Baltimore Biodiesel Coop - Member Page</title>
	<link href="/CSS/bbd.css" rel="stylesheet" type="text/css">
</head>
<!-- for RSA, body needs onkeypress="rng_seed_time();" onload="rng_seed_time();check_rsa();" onclick="rng_seed_time();" -->
<body  onkeypress="rng_seed_time();" onload="rng_seed_time();check_rsa();" onclick="rng_seed_time();">
<script language="JavaScript" type="text/javascript" src="/JavaScript/RSA/jsbn.js"></script>
<script language="JavaScript" type="text/javascript" src="/JavaScript/RSA/prng4.js"></script>
<script language="JavaScript" type="text/javascript" src="/JavaScript/RSA/rng.js"></script>
<script language="JavaScript" type="text/javascript" src="/JavaScript/RSA/rsa.js"></script>
<script language="JavaScript" type="text/javascript" src="/JavaScript/RSA/base64.js"></script>
<script language="JavaScript"> <!--
	function do_encrypt() {
		var SPN1 = document.primary.SPN1.value;
		var SPN2 = document.primary.SPN2.value;
		if (SPN1.length > 0 || SPN2.length > 0) {
		//	var epoch_secs = Math.round (new Date().getTime()/1000);
			var epoch_secs = document.primary.server_time.value;
			var rsa = new RSAKey();
			rsa.setPublic(document.primary.modulus.value, document.primary.exponent.value);
			var res1 = rsa.encrypt('['+epoch_secs+']'+SPN1);
			var res2 = rsa.encrypt('['+epoch_secs+']'+SPN2);
			if(res1 && res2) {
				document.primary.SPN1.value = '';
				document.primary.SPN2.value = '';
				document.primary.crypt_SPN1.value = linebrk(hex2b64(res1), 64);
				document.primary.crypt_SPN2.value = linebrk(hex2b64(res2), 64);
			}
		}
	}
	
	function check_rsa () {
		var rsa = new RSAKey();
		rsa.setPublic('94e94b2912d8d508ce8c0e91d62271a9', '10001');
		var res = rsa.encrypt('abc');
		if(res && document.primary.modulus.value) {
			document.getElementById ("passMsg").innerHTML = 'SPN is RSA-encrypted';
		}
	}
//--></script>

<!-- END of RSA scripts -->

<div id="wrapper">
<div class="box">
</div>
<TMPL_INCLUDE NAME="role-nav.tmpl">

<div id="full_width">

<!-- form needs onsubmit="do_encrypt();return true;" name="primary" for RSA -->
<form action="BBD-member.pl" method="post" onsubmit="do_encrypt();return true;" name="primary">
<input type="hidden" name="CGISESSID" value="<TMPL_VAR ESCAPE=HTML NAME=CGISESSID>" >
<!-- These hidden elements are needed for RSA -->
<input type="hidden" name="modulus" value="<TMPL_VAR ESCAPE=HTML NAME=modulus>" >
<input type="hidden" name="exponent" value="10001" >
<input type="hidden" name="crypt_SPN1" value="" >
<input type="hidden" name="crypt_SPN2" value="" >
<input type="hidden" name="server_time" value="<TMPL_VAR NAME=server_time>" >
<TMPL_IF NAME=ERROR>
	<div id="error">
	<TMPL_VAR ESCAPE=HTML NAME=ERROR>
	</div>
</TMPL_IF>

<h3>Membership Information for <TMPL_VAR ESCAPE=HTML NAME=memb_name>
</h3>
<center>
<table border="0">
<tr>
	<td align="left" colspan="2">
		Name: <input name="memb_name" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=memb_name>" size="40" maxlength="40">
	</td>
</tr>
<tr>
	<td align="left" colspan="2">
		Membership Number: <input name="ms_num" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=ms_num>" size="5" maxlength="5" disabled readonly>
		&nbsp;&nbsp;Status: <input name="status" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=status>" size="10" maxlength="10" disabled readonly>
		&nbsp;&nbsp;Type: <input name="type" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=type>" size="10" maxlength="10" disabled readonly>
		<TMPL_IF NAME=ms_credit_editable>
			&nbsp;&nbsp;Credit: $<input name="credit" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=credit>" size="10" maxlength="10">
		<TMPL_ELSE>
			&nbsp;&nbsp;Credit: $<input name="credit" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=credit>" size="10" maxlength="10" disabled readonly>
		</TMPL_IF>
	</td>
</tr>
<tr>
	<td align="left" colspan="2">
		Membership started: <input name="start" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=start>" size="8" maxlength="8" disabled readonly>
		&nbsp;&nbsp;Last renewal: <input name="renew" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=renew>" size="8" maxlength="8" disabled readonly>
		&nbsp;&nbsp;Expires: <input name="expires" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=expires>" size="8" maxlength="8" disabled readonly>
	</td>
</tr>
</table>
</center>
<hr>
<h3>
BBD9000 Information:
</h3>
		<div id="message">This information is required to use the 24/7 Biodiesel dispensing kiosk</div>
<center>
<table border="0">
<tr>
	<td align="left" colspan="2">
	Name as it appears on your credit cards:
	</td>
</tr>
<tr>
	<td align="left" colspan="2">
		First: <input name="memb_fname" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=memb_fname>" size="20" maxlength="20">
		&nbsp;&nbsp;Last: <input name="memb_lname" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=memb_lname>" size="20" maxlength="20">
		<div id="message">Please do not use any prefixes, suffixes or initials - even if they appear on your credit cards!</div>
	</td>
</tr>
<tr>
	<td align="left" colspan="2">
		SPN: <input name="SPN1" type="password" size="20" maxlength="20">
		&nbsp;&nbsp;Confirm SPN: <input name="SPN2" type="password" size="20" maxlength="20">
		<div id="message">
		This is the number you enter on the keypad at the kiosk (followed by '#') after swiping your credit card.
		<br>Choose a number 4 to 20 digits long.  We do not recommend using your credit-card PIN!
		<br>The SPN you have previously set will remain unchanged if these fields are left blank.
		<br>If you have not previously set your SPN, or forgot what it was, please set it now.</div>
	</td>
</tr>
<tr>
	<td align="left" colspan="2">
	Email: <input name="email" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=email>" size="40" maxlength="40">
		<div id="message">
			Receipts are sent to this email address.
			<TMPL_IF NAME=sending_email>
			<br>If you change the email address, a confirmation email will be sent to the new address.
			<br>The email address will not change until it is confirmed by clicking on the link in the confirmation email.
			<TMPL_ELSE>
			<br>**Note that verification emails must be sent using a separate form.
			</TMPL_IF>
		</div>
	</td>
</tr>
<tr>
	<td align="left" colspan="2">
	Credit Card Pre-Authorization: <input name="fuel_preauth" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=fuel_preauth>" size="7" maxlength="7"> gallons
		<div id="message">
			The current fuel price and the number of gallons above is used to calculate the dollar amount to authorize on your credit-card.
			<br>When you are finished fueling, the actual value of the fuel sold will be charged to your credit-card.
			<br>The fuel pump will stop once you've reached the pre-authorized amount.
			<br>The best value to use here is the maximum capacity of your tank in gallons.
		</div>
	</td>
</tr>
</table>
</center>
<hr>
<h3>
Contact Information:
</h3>
<center>
<table border="0">
<tr>
	<td align="right">Address:</td>
	<td align="left"><input name="ad1" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=ad1>" size="30" maxlength="20"></td>
	<td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td align="right">Home phone:</td>
	<td align="left"><input name="h_ph" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=h_ph>" size="20" maxlength="20"></td>
</tr>
<tr>
	<td align="right"></td>
	<td align="left"><input name="ad2" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=ad2>" size="30" maxlength="20"></td>
	<td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td align="right">Work phone:</td>
	<td align="left"><input name="w_ph" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=w_ph>" size="20" maxlength="20"></td>
</tr>
<tr>
	<td align="right">City:</td>
	<td align="left"><input name="city" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=city>" size="20" maxlength="20"></td>
	<td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td align="right">Mobile phone:</td>
	<td align="left"><input name="m_ph" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=m_ph>" size="20" maxlength="20"></td>
</tr>
<tr>
	<td align="right">State:</td>
	<td align="left">
		<input name="state" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=state>" size="2" maxlength="2">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zip:<input name="zip" type="text" value="<TMPL_VAR ESCAPE=HTML NAME=zip>" size="10" maxlength="10">
	</td>
	<td align="right">&nbsp;</td>
	<td align="left">&nbsp;</td>
</tr>
</table>
<span class="message_quiet" id="passMsg">SPN is sent as clear text!</span><br>
<input name="submit" type="submit" value="Save">

</form>
</center>
</div>
</div>
</body>
</html>
