<ul id="nav">
	<li class="home"><a href="/">Home</a></li>
	<TMPL_LOOP NAME=role_loop>
		<TMPL_IF NAME=script>
			<li id="thispage"><a href="<TMPL_VAR NAME=script>"><TMPL_VAR NAME=label></a></li>
		<TMPL_ELSE>
			<li id="thispage"><TMPL_VAR NAME=label></li>
		</TMPL_IF>
	</TMPL_LOOP>
	<TMPL_IF NAME=logged_in>
		<li id="thispage"><a href="BBD-logout.pl">Logout</a></li>
	</TMPL_IF>
</ul>
