/* CSS Document */

 * {
 	margin: 0;
	padding: 0;
	}
	
body {
background:#EDEDDA;
	}
	
#wrapper {
width: 950px;
background: #00a352;
}

.box {
	width: 100%;
	height:175px;
	
	background:  url(../images/topbanner.jpg) no-repeat top left;
	}
	
#nav {
	height:27px;
	background: #663366;
	color:#FFFFFF;
	list-style:none;
	margin: 0;
	padding: 0;
	}
	
#nav li {
/*	background: #693 url(../images/nav.gif) repeat-x; */
	text-transform:uppercase;
	float:left;
	margin: 0 0 0 0;
	padding: 4px 8px;
	color:#000000;
	letter-spacing: 1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 90%;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	}
	
#nav a {
	float: left;
	text-transform:uppercase;
	color:#ffffff;
	display: block;
	text-decoration: none;
	margin: 0 0 0 0;
	border: none;
}

#nav a:hover { 
color: #FFFFFF;
background:#CCCCCC;
}

#home #nav .home a,
#locations #nav .locations a,
#contactUs #nav .contactUs a{
background-position:right bottom;
color:#FFF;
background-color:#CCCCCC;
cursor:default;
}

#full_width {
list-style-position: inside;
clear:both;
background:#FFE06A;
padding:20px;
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:100%;
}

thead {
	font-weight: bold;
}

table.data {
	border-width: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	margin: 5px 0px 5px 0px;
}

td.data {
	border-width: 1px 1px 1px 0px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	padding: 0px 3px 0px 3px;
	font-size: 85%;
}

thead.data {
	font-weight: bold;
}

tfoot.data {
	font-weight: bold;
}

select.popup_menu {
/*	width: +10em; */
	border-width: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	background: white;
}

#error {
background:#C6DFBB;
padding:5px;
font-family:Arial, Helvetica, sans-serif;
color:#FF0000;
font-size:90%;
}

.message_quiet { font-size: 10px; color: #444444; }

#message
{
	background: #00a352;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	font-size: 85%;
	font-weight: bold;
	padding:10px;
	margin:10px;
}


#calendar_txt {
padding: 1%;


}

#column1 {
list-style-position: inside;
clear:both;
width: 68%;
float:left;
background:#fff;
color:#000000;

}
#column1 div {
padding:20px;
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:100%;
}

#column1 ul li {
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:90%;
margin: 10px 30px 0 30px;
padding: 0px 0px 0px 0px;
text-indent: -11px;
text-align:justify;
}


#column1  h2 {
margin: 0 0 1em 0;
padding: 0;
font-size: 2em;
color: #663366 ;
padding-top: 30px;
}

#column1 h3 {
margin: 0 0 .5em 0;
padding: 0;
font-size:130%;
}

#column1 h4 {
margin: 0 0 .5em 0;
padding: 0;
padding-bottom:10px;

font-size:110%;
}

#column1 p {
margin: 0 0 .5em 0;
padding:0;
font-size:95%;
text-align:justify;
}


	
#column2 {
float:left;
width: 32%;
background: #00a352;
color: #FFFFFF;
font-family:Arial, Helvetica, sans-serif;
}
	
#column2 .gutter {
padding: 15px;
}

.box2 {
margin: 0 0 20px 0;
padding: 0 0 12px 0;
font-size:85%;
line-height:1.5em;
color:#666;
background: #FFFFFF url(../images/box_b.gif) no-repeat bottom right;
}

.box2 h3 {
margin:0;
padding:12px;
font-size:140%;
font-weight:normal;
color:  #663366;
background: url(../images/box_t.gif) no-repeat top left;
}
	
.box2 p {
margin: 0;
padding: 0 12px;
color:#666;
}

.box2 a {
color:#666;
}

.box2 ul {
margin: 0;
padding: 0 12px;
}

.box2 ul li {
margin:0 0 0 12px;
padding: 0 0 0 18px;
list-style:none;
}

.box2 img {
margin:0 0 0 30px;
padding: 0 0 0 18px;
}

.box2 {
margin: 0 0 20px 0;
padding: 0 0 12px 0;
font-size:85%;
line-height:1.5em;
color:#666;
background: #FFFFFF url(../images/box_b.gif) no-repeat bottom right;
}



.box2 h3 {
margin:0;
padding:12px;
font-size:140%;
font-weight:normal;
color: #663366;
background: url(../images/box_t.gif) no-repeat top left;
}


.box2 h4 {
font-size: 100%;
color: #FF0000;
margin:5px;

}

.box3 {
margin: 10px;
padding: 0 0 12px 0;
font-size:120%;
line-height:1.5em;
color:#666;
background: #FFFFFF url(../images/box_b.gif) no-repeat bottom right;
}

.box3 p {
margin: 0;
padding: 0 12px;

}

.box3 a {
color:#666;
}

.box3 h2{
margin: 20px;
padding: 12px;
text-align:center;

}
.box3 h4 {
margin: 20px;
padding: 0 12px;
text-align:left;

}

.box3 ul {
margin: 0;
padding: 0 12px;
text-align:left;
}

.box3 ul li {
margin:0 0 0 12px;
padding: 0 0 0 18px;

}

.box3 img {
margin:0 0 0 30px;
padding: 0 0 0 18px;
}

#content {
		width: 100%;
		color:#666666;
}

.directions {

float:right;
width: 32%;
background: #7B9473;
color: #FFFFFF;
font-family:Arial, Helvetica, sans-serif;

}


#calendar {
		width: 950px;
		margin-top: 10px;
		margin-bottom: 10px;
	text-align:center;

}	

.newsbio {
		width: 950px;
		margin-top: 10px;
		margin-bottom: 10px;
	text-align:center;
	margin-left: 10px;
}
.newsbio p {
		margin: 5px;
		color:#FFFFFF;		
}

a {
	font-family: Tahoma, Verdana, Arial, Times New Roman;
	color: #666;
}

#footer {
	clear:both;
	width: 100%;
	background:#FFE06A;
	height: 40px;
	
	border-bottom: solid #FFFFFF;
	}
	
.bolded {
font-weight:bold;
Color:#666;

}

.anchor {
font-size:80%;
color:#FFFFFF;
text-align:right;
}

.subpara {
text-indent:10px;

}

.style6 {font-size: 80%}
.style7 {
	color: #FF0000;
	font-size:120%;
	font-weight:bold;
}
